@model Wedding
<div class="newWeddingDiv">
    <div class="newWeddingHeader">
        <h2 style="display:inline-block;">Submit a bright idea</h2>
        
    </div>
    <form asp-action="processNewWedding" asp-controller="home" method="POST">
        <table>
            <tr>
                <td>
                    <label asp-for="Idea"></label>
                </td>
                <td>
                    <textarea asp-for="Idea"></textarea>
                </td>
            </tr>
                <tr>
                    <td></td><td><span asp-validation-for="Idea"></span></td>
                </tr>
        <input asp-for="Owner" type="hidden" value="@ViewBag.VerifyLoggedIn">
            <tr>
                <td></td><td><input type="submit" value="Add Idea!"</td>
            </tr>
        </table>
    </form>






    <table style = "margin: 35px;">
    @foreach(var idea in @ViewBag.AllIdeas)
    {
        <tr style="margin: 15px;">
            <td style="margin: 15px;">
                <a href="/users/@idea.Owner">@idea.Owner </a> says:
            </td style="margin: 15px;">
            <td style="border: 1px solid black; max-width: 200px; overflow: scroll; margin: 15px;">
                @idea.Idea
            </td>
            <td style="margin: 15px;">
                @if(idea.Owner == @ViewBag.VerifyLoggedIn)
                    {
                        <a href="/processDeleteWedding/@idea.WeddingId">Delete</a>
                    }
            </td>
        </tr style="margin: 15px;">
        <tr style="margin: 15px;">
            <td style="margin: 15px;">
            </td>
            <td style="margin: 15px;">
                <a href="/processAddUserToWedding/@idea.WeddingId/@ViewBag.VerifyLoggedIn">Like</a>
            </td style="margin: 15px;">
            <td style="margin: 15px;">
                @if(5<7)
                {
                int count = 0;
                    @foreach(var i in idea.WeddingToJoin)
                    {
                        count++;
                    }
                <a href="bright_ideas/@idea.WeddingId">
                    @count people like this</a>
                }
            </td style="margin: 15px;">
        </tr>
                    
            
            
        
    }
    </table>
</div>
    <div asp-validation-summary="All">
        <span>Please correct the following errors</span>
    </div>