

<p>
    @ViewBag.CurrentIdea.Owner says: @ViewBag.CurrentIdea.Idea
</p>

<p>People who like this post:</p>
<table>
    <tr>
        <th>Alias</th>
        <th>Name</th>
    </tr>
    @foreach(var i in @ViewBag.CurrentIdea.WeddingToJoin)
    {
        <tr>
            <td>
                <a href="/users/@i.User.Alias">
                @i.User.Alias
                </a></td>
            <td>@i.User.Name</td>
        </tr>
    }
</table>