@{
    ViewData["Title"] = "Home Page";
}

<div class="toolbar">
    <p>
        Dashboard | 
        <a href="/products">Products | </a>
        <a href="/orders">Orders | </a>
        <a href="/customers">Customers | </a>
        <a href="/settings">Settings</a>
    </p>
</div>

@foreach(var product in ViewBag.FiveProducts)
{
    <img src="@product.Image" style="height:150px; width:150px; display:inline-block;">
    <p>@product.Name</p>
    <p>(@product.Quantity left)</p>
}

<h3>Recent Orders</h3>
@foreach (var order in ViewBag.ThreeOrders)
{
    <p>@order.Customer.Name purchased @order.QuantityOrdered @order.Product.Name  </p>
}


<partial name="Index-Orders"></partial>
<partial name="Index-Customers"></partial>
